:root {
  /* Colors */
  --clr-primary-600: hsl(223, 87%, 63%);
  --clr-secondary-200: hsl(223, 100%, 88%);
  --clr-secondary-400: hsl(354, 100%, 66%);
  --clr-neutral-600: hsl(0, 0%, 59%);
  --clr-neutral-900: hsl(209, 33%, 12%);

  /* Font family */
  --font-family-base: "Libre Franklin", sans-serif;

  /* Font weight */
  --fw-light: 300;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Font size */
  --fs-100: 0.625rem;
  --fs-200: 0.857rem;
  --fs-500: 1.25rem;
  --fs-600: 1.375rem;
  --fs-900: 3.5rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  4. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  5. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General */
body {
  background-color: #fff;
  color: var(--clr-neutral-600);
  font-family: var(--font-family-base);
  font-size: var(--fs-200);
  font-weight: var(--fw-light);
  line-height: 1.5;
  text-align: center;
  padding-inline: 2rem;
  min-height: 100svh;

  display: grid;
  align-items: center;
}

header {
  padding-block: 1.5rem;
  align-self: end;
}

main {
  align-self: start;
}

/* Typography */
.intro__title {
  font-size: var(--fs-600);
}

.bold-accent-color {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-bold);
}

.intro__text {
  color: var(--clr-neutral-900);
}

/* Layout */
.header__logo {
  margin-inline: auto;
}

.container {
  max-width: 40rem;
  margin-inline: auto;
}

.mail-sub {
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.email-input {
  color: var(--clr-secondary-200);
  border-radius: 100vh;
  padding: 0.6rem 1.5rem;
  border: 1px solid var(--clr-secondary-200);
}

.btn {
  background-color: var(--clr-primary-600);
  color: #fff;
  font-weight: var(--fw-semibold);
  padding: 0.7em 2.3em;
  border: none;
  border-radius: 100vh;
  cursor: pointer;
}

/* Utility classes */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flex-group {
  display: flex;
}

.grid-flow {
  display: grid;
  gap: 1rem;
}

.grid-flow[data-spacing="large"] {
  gap: 2rem;
}
